<a href="https://colab.research.google.com/github/Valerius-ufv/python_bootcamp_DV/blob/main/DS_Notebook_03_diegovaleroNumPy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Programación y NumPy

En la primera parte de este notebook seguiremos explorando algunas cuestiones de programación. En la segunda parte, empezaremos a trabajar con NumPy, nuestra primera librería.

## 1. Programación

### 1.1 Operaciones Lógicas

Comencemos viendo cómo implementar lo que vimos en la presentación de operaciones lógicas. Te recomendamos tenerla cerca así puedes consultarla.

En primer lugar, la operación `not` es simplemente la negación del booleano.

In [ ]:
variable_1 = True
print(not(variable_1))

variable_2 = False
print(not(variable_2))

False
True

La operación `and` nos devuelve `True` unicamente cuando ambas variables son verdaderas. Experimentar con la celda inferior y comprobar su tabla de verdad.

In [ ]:
variable_1 = True
variable_2 = True
print(variable_1 and variable_2)
print(variable_1 & variable_2)

True
True

**Ejercicio:** comprobar la tabla de verdad de la operación `or` jugando con la celda siguiente. Viene con trampa(s).

In [ ]:
A = False
C = True
A_or_B = variable_1 or variable_2
print(A_or_B)
A_or_B = variable_1 | variable_2
print(A_or_B)

True
True

### 1.2 Estructuras de control - Condicionales

Los condicionales nos permiten ejecutar o no un bloque de codigo dependiendo de ciertas condiciones. En lenguaje coloquial, vendrían a ser del estilo de "Si se cumple esta condición, hace A. Si no se cumple, hace B", donde B puede ser, simplemente, no hacer nada. Veamos qué formas toman.

### 1.2.1 If

El condicional más simple es el `if`. Para mayor claridad escribiremos la condicion entre parentesis (), aunque esto no es necesario. Su estructura es

``` python
if condicion:
    Si se cumple la condición, se ejecutan estas líneas de código
```

Veamos algunos ejemplos:

In [ ]:
valor = 5
if (valor > 10):
    print('El valor es mayor que 10')

Prestar atención a que la condición debe ser un booleano

In [ ]:
print(valor > 10)
print(type(valor > 10))

True
<class 'bool'>

**Nota:** para comparar variables, tenemos las operaciones menor `<`, mayor `>`, igualdad `==`, menor o igual  `<=`, y mayor o igual `>=`.

In [ ]:
print(3 == 3)
print(3 <= 3)
print(3 >= 3)

True
True
True

### 1.2.2 If, Else

A la estrucutra con `if` se le puede agregar otro bloque de codigo que se ejecute si la condición exigida NO se cumple. Esto se logra mediante la expresión `else`.

``` python
if condicion:
    Si se cumple la condición, se ejecutan estas líneas de código
else:
    Si NO se cumple la condición, se ejecutan estas líneas de código
```

In [ ]:
nombre = 'Juan'

if (nombre == 'Juan') or (nombre == 'juan') or (nombre == 'JUAN'):
    print('Esta persona se llama Juan')
else:
    print('Esta persona NO se llama Juan')

Esta persona se llama Juan

Prestar atención, nuevamente, a que la condición - lo que está entre paréntesis - es un booleano.

In [ ]:
'Juan'=='Pedro'

### 1.2.3 If, Elif, Else
A esta estructura se le pueden sumar tantas condiciones encadenadas como uno desee, mediante la expresión `elif`. El orden en que se van chequeando las condiciones depende de su posición, priemero se chequea el `if`, luego el primer `elif`, luego el segundo, y así sucesivamente.

``` python
if condicion_1:
    Si se cumple la condicion_1 , se ejecutan estas líneas de código
elif condicion_2:
    Si se cumple la condicion_2 , se ejecutan estas líneas de código
elif condicion_3:
    Si se cumple la condicion_3 , se ejecutan estas líneas de código
else:
    Si NO se cumple ninguna de las condiciones anteriores, se ejecutan líneas celdas de código
```

In [ ]:
edad = 20

if (edad < 18):
    print('Esta persona tiene menos de 18 años')
elif (edad > 18):
    print('Esta persona tiene mas de 18 años')
else:
    print('Esta persona tiene justo 18 años')

Esta persona tiene mas de 18 años

**Ejercicio**: Escriba un bloque de código que, dado un número, imprima la frase "El numero es par" si el número es par o la frase "El numero es impar" si no lo es.

In [ ]:
numero = 18

if numero % 2 == 0:
    print('El número es par')
else:
    print('El numero es impar')

El número es par

In [ ]:
numero = 17

print(numero % 2 == 0)

False

### 1.3 Combinando estructuras de código

Las estructuras de loops que vimos en el notebook anterior y condicionales que aprendimos se pueden combinar para generar comportamientos más complejos. Supongamos que tenemos una lista de edades y nos queremos quedar con aquellas que sean mayores que 18 años. Podemos hacer lo siguiente:

In [ ]:
lista_de_edades = [4,20,15,29,11,42,10,18]
lista_mayores = []

for edad in lista_de_edades:
    if (edad >= 18):
        # Agremos a la lista de mayores
        lista_mayores.append(edad)

print(lista_mayores)

[20, 29, 42, 18]

### 1.4 Operaciones lógicas y estructuras de control

A veces, queremos ejecutar una línea de código si se cumple más de una condición. Esto se puede lograr fácilmente usando las operaciones lógicas que vimos. Supongamos que tenemos una lista de números, y queremos seleccionar aquellos que cumplan ciertas propiedades. Por ejemplo, que son mayores o iguales que 5 y menores que 20. Podríamos hacer lo siguiente:

In [ ]:
numeros = [0,3,1,4,6,17,3,89,5,6,4,13,25,4,3,23,1,15,2]
seleccionados = []
for numero in numeros:
    if numero >= 5:
        if numero < 20:
            print(numero)
            seleccionados.append(numero)
print(seleccionados)

6
17
5
6
13
15
[6, 17, 5, 6, 13, 15]

Notar que los números seleccionados cumplen los requisitos que pedimos. Pero también podríamos hacerlo así:

In [ ]:
numeros = [0,3,1,4,6,17,3,89,5,6,4,13,25,4,3,23,1,15,2]
seleccionados = []
for numero in numeros:
    if numero >= 5 and numero < 20 or (numero == 25):
        seleccionados.append(numero)
print(seleccionados)

[6, 17, 5, 6, 13, 25, 15]

El resultado es el mismo. Si bien esta forma es más compacta, no necesariamente implica que sea mejor. Uno/a elije hacerlo de una u otra forma según lo que le parezca más claro; si ambas condiciones juntas son difíciles de leer, tal vez puedes usar la primera forma.

**Ejercicio**: Modifica el ejemplo anterior para que seleccione aquellos números **mayores** que 5 **o** impares.

In [ ]:
numeros = [0,3,1,4,6,17,3,89,5,6,4,13,25,4,3,23,1,15,2]
seleccionados = []
for numero in numeros:
    if (numero > 5) or (numero % 2 == 1):
        seleccionados.append(numero)
print(seleccionados)

[3, 1, 6, 17, 3, 89, 5, 6, 13, 25, 3, 23, 1, 15]

### Ejercitación

**Ejercicio 1**: ¿Qué pasa si sumás, restás, multiplicás o dividís booleanos? Pruébalo e interpreta.

In [ ]:
print(True + True)
print(True + False)
print(True*False)
print(True*True)
print(True / True) # Al dividir TRUE/FALSE sale error por el primero lo reconoce con el valor 1 y el segundo con el valor 0

print(type(True/True))

2
1
0
1
1.0
<class 'float'>

**Ejercicio 2**: Hacer una estructur `if/else` que compare dos variables numéricas `A` y `B` y que decida cuál es mayor e imprima en pantalla "A es mayor que B" o "B es mayor que A" .

In [ ]:
A = 3
B = 4
if (A > B):
   print("A es mayor que B")
else:
   print("B es mayor que A")

B es mayor que A

**Ejercicio 3 - Challenge**: Dada la siguiente lista de numeros:

In [ ]:
numeros = [4,5,1,3,5,7,8,1,3,4,1,7,8,1,3,4,5,2,1,2,4,5]

Escribir una rutina que calcule la suma de los números **pares menores que 5** en esta lista. **Pistas:**
* Hay muchas formas de hacerlo, si piensas en más de una, mejor. Pero trata de tomar los ejemplos que vimos en este notebook.
* El resultado es 20.
* Recuerda que puedes inicializar una variable en cero, y luego ir modificándola en un loop. Hicimos algo así en el notebook anterior con una variable que llamamos `i` y en el ejercicio 5 del mismo notebook.

In [ ]:
numeros = [4,5,1,3,5,7,8,1,3,4,1,7,8,1,3,4,5,2,1,2,4,5]
suma = 0
for numero in numeros:
    if (numero < 5) and (numero % 2 == 0):
        suma = suma + numero
print(suma)

20

**Ejercicio 4 - Challenge Opcional**: Dada la siguiente lista de numeros:

In [1]:
numeros_en_texto = ['2', '3', '2', '3', '2', '2', '2', '2', '3', '2', '3', '1', '3', '1', '2', '2', '2', '2', '2', '2', '2', '2', '1', '2', '3', '2', '2', '2', '2', '1', '2', '3', '2', '2', '3', '2', '3', '3', '2', '2', '1', '3', '3', '2', '3', '2', '2', '1', '2', '1', '1', '2', '2', '3', '2', '2', '2', '3', '2', '2', '2', '1', '2', '2', '3', '2', '2', '2', '2', '1', '2', '2', '2', '2', '3', '1', '2', '3', '3', '2', '3', '2', '2', '3', '3', '1', '1', '3', '2', '1', '2', '2', '2', '1', '1', '2', '2', '2', '2', '2', '2', '2', '3', '3', '1', '3', '3', '3', '2', '2', '2', '2', '2', '2', '2', '3', '3', '2', '2', '3', '2', '2', '2', '2', '2', '3', '3', '2', '2', '1', '3', '2', '2', '2', '3', '2', '3', '1', '3', '3', '2', '3', '3', '2', '2', '2', '2', '2', '2', '1', '2', '2', '1', '2', '3', '2', '1', '3', '1', '2', '3', '3', '3', '2', '3', '1', '3', '2', '3', '1', '2', '2', '2', '3', '3', '2', '2', '2', '2', '2', '3', '1', '2', '3', '3', '2', '2', '3', '2', '2', '2', '3', '2', '2', '2', '2', '1', '2', '3', '1', '3', '2', '2', '3', '3', '3', '2', '2', '1', '1']
print(numeros_en_texto)

['2', '3', '2', '3', '2', '2', '2', '2', '3', '2', '3', '1', '3', '1', '2', '2', '2', '2', '2', '2', '2', '2', '1', '2', '3', '2', '2', '2', '2', '1', '2', '3', '2', '2', '3', '2', '3', '3', '2', '2', '1', '3', '3', '2', '3', '2', '2', '1', '2', '1', '1', '2', '2', '3', '2', '2', '2', '3', '2', '2', '2', '1', '2', '2', '3', '2', '2', '2', '2', '1', '2', '2', '2', '2', '3', '1', '2', '3', '3', '2', '3', '2', '2', '3', '3', '1', '1', '3', '2', '1', '2', '2', '2', '1', '1', '2', '2', '2', '2', '2', '2', '2', '3', '3', '1', '3', '3', '3', '2', '2', '2', '2', '2', '2', '2', '3', '3', '2', '2', '3', '2', '2', '2', '2', '2', '3', '3', '2', '2', '1', '3', '2', '2', '2', '3', '2', '3', '1', '3', '3', '2', '3', '3', '2', '2', '2', '2', '2', '2', '1', '2', '2', '1', '2', '3', '2', '1', '3', '1', '2', '3', '3', '3', '2', '3', '1', '3', '2', '3', '1', '2', '2', '2', '3', '3', '2', '2', '2', '2', '2', '3', '1', '2', '3', '3', '2', '2', '3', '2', '2', '2', '3', '2', '2', '2', '2', '1', '2', '3', '1', '3', '2', '2', '3', '3', '3', '2', '2', '1', '1']

Calcule la suma de los unos (1) y los tres (3) en esta lista. Nuevamente, hay muchas formas de hacerlo. **Pistas:**
* El resultado es 210.
* Puede reciclar código de ejemplos anteriores y del ejercicio anterior.
* Se pueden comparar strings, ver ejemplo más arriba.
* También se pueden forzar tipos de datos. Por ejemplo, `int('4')` nos devuelve un 4, entero.
* Se puede resolver sin usar todas las pistas

In [ ]:
numeros_en_texto = ['2', '3', '2', '3', '2', '2', '2', '2', '3', '2', '3', '1', '3', '1', '2', '2', '2', '2', '2', '2', '2', '2', '1', '2', '3', '2', '2', '2', '2', '1', '2', '3', '2', '2', '3', '2', '3', '3', '2', '2', '1', '3', '3', '2', '3', '2', '2', '1', '2', '1', '1', '2', '2', '3', '2', '2', '2', '3', '2', '2', '2', '1', '2', '2', '3', '2', '2', '2', '2', '1', '2', '2', '2', '2', '3', '1', '2', '3', '3', '2', '3', '2', '2', '3', '3', '1', '1', '3', '2', '1', '2', '2', '2', '1', '1', '2', '2', '2', '2', '2', '2', '2', '3', '3', '1', '3', '3', '3', '2', '2', '2', '2', '2', '2', '2', '3', '3', '2', '2', '3', '2', '2', '2', '2', '2', '3', '3', '2', '2', '1', '3', '2', '2', '2', '3', '2', '3', '1', '3', '3', '2', '3', '3', '2', '2', '2', '2', '2', '2', '1', '2', '2', '1', '2', '3', '2', '1', '3', '1', '2', '3', '3', '3', '2', '3', '1', '3', '2', '3', '1', '2', '2', '2', '3', '3', '2', '2', '2', '2', '2', '3', '1', '2', '3', '3', '2', '2', '3', '2', '2', '2', '3', '2', '2', '2', '2', '1', '2', '3', '1', '3', '2', '2', '3', '3', '3', '2', '2', '1', '1']
print(numeros_en_texto)
suma = 0
for numero in numeros_en_texto:
    if numero == '1':
        suma = suma + 1
        print(suma)
    elif numero == '3':
        suma = suma + 3
        print(suma)
print(suma)

['2', '3', '2', '3', '2', '2', '2', '2', '3', '2', '3', '1', '3', '1', '2', '2', '2', '2', '2', '2', '2', '2', '1', '2', '3', '2', '2', '2', '2', '1', '2', '3', '2', '2', '3', '2', '3', '3', '2', '2', '1', '3', '3', '2', '3', '2', '2', '1', '2', '1', '1', '2', '2', '3', '2', '2', '2', '3', '2', '2', '2', '1', '2', '2', '3', '2', '2', '2', '2', '1', '2', '2', '2', '2', '3', '1', '2', '3', '3', '2', '3', '2', '2', '3', '3', '1', '1', '3', '2', '1', '2', '2', '2', '1', '1', '2', '2', '2', '2', '2', '2', '2', '3', '3', '1', '3', '3', '3', '2', '2', '2', '2', '2', '2', '2', '3', '3', '2', '2', '3', '2', '2', '2', '2', '2', '3', '3', '2', '2', '1', '3', '2', '2', '2', '3', '2', '3', '1', '3', '3', '2', '3', '3', '2', '2', '2', '2', '2', '2', '1', '2', '2', '1', '2', '3', '2', '1', '3', '1', '2', '3', '3', '3', '2', '3', '1', '3', '2', '3', '1', '2', '2', '2', '3', '3', '2', '2', '2', '2', '2', '3', '1', '2', '3', '3', '2', '2', '3', '2', '2', '2', '3', '2', '2', '2', '2', '1', '2', '3', '1', '3', '2', '2', '3', '3', '3', '2', '2', '1', '1']
3
6
9
12
13
16
17
18
21
22
25
28
31
34
35
38
41
44
45
46
47
50
53
54
57
58
61
62
65
68
71
74
77
78
79
82
83
84
85
88
91
92
95
98
101
104
107
110
113
116
117
120
123
126
127
130
133
136
139
140
141
144
145
148
149
152
155
158
161
162
165
168
169
172
175
178
179
182
185
188
191
192
195
196
199
202
205
208
209
210
210

## 2. Numpy

Empezaremos a dar nuestros primeros pasos con NumPy. Es muy importante que googlees y consultes la documentación. Si no la instalaste, ahora es un buen momento.

Cuando queremos usar una librería, primero debemos importarla. Más adelante veremos qué significa importar una librería, pero podemos entenderlo como que es un aviso a Python de que vamos a incorporar nuevas funcionalidades; en este caso, desde NumPy.

In [ ]:
import numpy as np

Ahora nuestro ambiente de trabajo sabe que si ponemos algo del estilo `np.` significa que esa funcionalidad la debe buscar en NumPy. **Importante:** Si la librería NO se instaló correctamente, te saltará un mensaje de error.

El principal tipo de dato sobre el que trabaja NumPy son los arreglos o arrays. Los arreglos son parecidos a listas y, de hecho, se pueden crear a partir de ellas.

In [ ]:
lista = [0,1,2,3,4,5]
arreglo = np.array(lista)
print(lista)
print(arreglo)

[0, 1, 2, 3, 4, 5]
[0 1 2 3 4 5]

In [ ]:
print(type(lista))
print(type(arreglo))

<class 'list'>
<class 'numpy.ndarray'>

Pero son más que una lista. Algunas cosas que no se podían hacer con las listas ahora sí se pueden con arreglos. Recordemos que sumarle un número a toda la lista no estaba permitido

In [ ]:
lista + [1]

[0, 1, 2, 3, 4, 5, 1]

¡Pero ahora con los arreglos sí!

In [ ]:
arreglo + 1

array([1, 2, 3, 4, 5, 6])

Esto simplifica mucho hacer cuéntas. Pero no es sólo sumar, también muchas otras operaciones:

In [ ]:
print(arreglo - 5)
print(arreglo - 2)
print(arreglo*4)
print(arreglo**2)

[-5 -4 -3 -2 -1  0]
[-2 -1  0  1  2  3]
[ 0  4  8 12 16 20]
[ 0  1  4  9 16 25]

Comprobar que, salvo la multiplicación, ninguno estaba permitido en listas. ¿Qué hace la multiplicación en el caso de una lista?

In [ ]:
print(lista*4)

[0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5]

### 2.1 Creación de arrays

Si bien podemos crear arrays a partir de listas, NumPy viene con muchas funciones para hacerlo. Veamos algunas.

Una muy utilizada es `np.arange()`. Consulta su documentación. Otra opción es que, en una celda de código, escribas `np.arange` y aprietes `shift` + `tab`. De esa forma, te aparecerá la ayuda.

Juega un poco con el ejemplo a continuación.

In [ ]:
arreglo = np.arange(3,20,2)
print(arreglo)

[ 3  5  7  9 11 13 15 17 19]

In [ ]:
variable = np.linspace(1,100,20)
print(variable)

[  1.           6.21052632  11.42105263  16.63157895  21.84210526
  27.05263158  32.26315789  37.47368421  42.68421053  47.89473684
  53.10526316  58.31578947  63.52631579  68.73684211  73.94736842
  79.15789474  84.36842105  89.57894737  94.78947368 100.        ]

In [ ]:
len(variable)

20

In [ ]:
array_de_ceros = np.zeros(4)
print(array_de_ceros)
array_de_ceros

[0. 0. 0. 0.]

array([0., 0., 0., 0.])

**Ejercicio:** investiga y crea ejemplos con las siguientes funciones
* `np.linspace`. Presta particular atención a cómo se diferencia de `np.arange`.
* `np.zeros` y `np.ones`

### 2.2 Shape de los arrays

Los arrays tienen muchos más propiedades que las listas. En particular, pueden tener más de un *eje* o dimensión. Veamos a qué nos referimos:

In [ ]:
arreglo_2d = np.array([[1,2,3,4],[5,6,7,8]])
print(arreglo_2d)

[[1 2 3 4]
 [5 6 7 8]]

Notar que tiene dos filas y cuatro columnas. Podemos descubrir esto sin imprimirlo en pantalla, sino usando la propiedad `.shape` del arreglo.

In [ ]:
print(arreglo_2d.shape)

(2, 4)

Primero aparece el número de filas y luego el de columnas. ¿Qué estructura de dato es `(2, 4)`? Otro ejemplo:

In [ ]:
arreglo_2d = np.array([[1,2],[3,4],[5,6],[7,8]])
print(arreglo_2d)
print(arreglo_2d.shape)

[[1 2]
 [3 4]
 [5 6]
 [7 8]]
(4, 2)

Si queremos saber cuántos elementos tiene, podemos usar `.size`

In [ ]:
print(arreglo_2d.size)

8

### 2.3 Funciones que operan sobre arrays

Los arrays de NumPy incorporan un montón de funciones que operan sobre los arrays. Veamos algunos ejemplos.

In [ ]:
un_arreglo = np.array([-100,2,3,17,25,1,95])
print(un_arreglo.min())
print(un_arreglo.max())

-100
95

En el caso 2D, podemos pedir que estas funciones operen sobre todo el array, o por ejes.

In [ ]:
import random

random.seed(10)

In [ ]:
# No te preocupes si no entiendes lo que hace esta celda
arreglo_2d = np.arange(9)
print(arreglo_2d)

np.random.shuffle(arreglo_2d)
print(arreglo_2d)

arreglo_2d = arreglo_2d.reshape((3,3))
print(arreglo_2d)

[0 1 2 3 4 5 6 7 8]
[3 7 2 5 6 0 1 4 8]
[[3 7 2]
 [5 6 0]
 [1 4 8]]

Trata de entender la diferencia entre las siguientes instrucciones:

In [ ]:
print(arreglo_2d.max())
print(arreglo_2d.max(axis = 0))
print(arreglo_2d.max(axis = 1))

8
[5 7 8]
[7 6 8]

### Últimos comentarios

* No dijimos nada sobre indexado ni slicing. Esto se debe a que, para arrays 1D, es similar que para la listas. Para arrays 2D, es apenas más complicado. Para estudiarlo, jugar con la siguiente celda:

In [ ]:
arreglo_2d = np.arange(9).reshape(3,3)
print(arreglo_2d)
print(arreglo_2d[1,:])

[[0 1 2]
 [3 4 5]
 [6 7 8]]
[3 4 5]

* Podemos usar `arreglo.max()` o `np.max(arreglo)`. Esto no es válido solamente para la función `max()`, sino también para casi todas las funciones que operen sobre arreglos.

In [ ]:
type(un_arreglo)

numpy.ndarray

In [ ]:
print(np.min(un_arreglo), un_arreglo.min())

-100 -100

Existe mucho más - realmente mucho más - para decir sobre NumPy. Pero mucho irá apareciendo a medida que lo vayamos necesitando. Y, además, ¡este notebook ya es muy largo!

### Ejercitación

**Ejercicio 1**: Escribir un arreglo con 100 números equiespaciados del 0 al 9. Pista: `linspace`

In [27]:
arreglo = np.linspace(0,9,100) # Arreglo programado con las condiciones propuestas en el enunciado
print(arreglo)

[0.         0.09090909 0.18181818 0.27272727 0.36363636 0.45454545
 0.54545455 0.63636364 0.72727273 0.81818182 0.90909091 1.
 1.09090909 1.18181818 1.27272727 1.36363636 1.45454545 1.54545455
 1.63636364 1.72727273 1.81818182 1.90909091 2.         2.09090909
 2.18181818 2.27272727 2.36363636 2.45454545 2.54545455 2.63636364
 2.72727273 2.81818182 2.90909091 3.         3.09090909 3.18181818
 3.27272727 3.36363636 3.45454545 3.54545455 3.63636364 3.72727273
 3.81818182 3.90909091 4.         4.09090909 4.18181818 4.27272727
 4.36363636 4.45454545 4.54545455 4.63636364 4.72727273 4.81818182
 4.90909091 5.         5.09090909 5.18181818 5.27272727 5.36363636
 5.45454545 5.54545455 5.63636364 5.72727273 5.81818182 5.90909091
 6.         6.09090909 6.18181818 6.27272727 6.36363636 6.45454545
 6.54545455 6.63636364 6.72727273 6.81818182 6.90909091 7.
 7.09090909 7.18181818 7.27272727 7.36363636 7.45454545 7.54545455
 7.63636364 7.72727273 7.81818182 7.90909091 8.         8.09090909
 8.18181818 8.27272727 8.36363636 8.45454545 8.54545455 8.63636364
 8.72727273 8.81818182 8.90909091 9.        ]

**Ejercicio 2:** crear un arreglo 1D de 20 ceros. Reemplazar los primeros 15 elementos por unos.

In [26]:
arreglo = np.zeros(20) # Creación de un arreglo de 1D compuesto por 20 ceros
arreglo[:15] = 1 # Reemplazar los primeros 15 elementos por unos
print(arreglo)

[1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 0. 0. 0. 0.]

**Ejercicio 3:** crear un arreglo 1D de 50 ceros. Reemplazar los primeros 25 elementos por los números naturales del 0 al 24.

In [3]:
import numpy as np

In [25]:
# Creación de un arreglo de 50 ceros
arreglo = np.zeros(50)

# Reemplazar los primeros 25 elementos con los números naturales del 0 al 24
arreglo[:25] = np.arange(25)
print(arreglo)

[ 0.  1.  2.  3.  4.  5.  6.  7.  8.  9. 10. 11. 12. 13. 14. 15. 16. 17.
 18. 19. 20. 21. 22. 23. 24.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.]

**Ejercicio 4:** crear un arreglo 2D de 3 filas y 3 columnas, lleno de ceros. Reemplazar los elemento de la segunda columna por los números 1, 2 y 3 respectivamente. Es decir, crear la siguiente matriz:

```
0 1 0
0 2 0
0 3 0
```

In [24]:
arreglo_2d = np.zeros((3,3)) # Creación de un arreglo de 2D de 3 filas y 3 columnas
arreglo_2d[:,1] = [1,2,3]    # Reemplazamiento de elementos de la segunda columna por los números 1, 2 y 3 respectivamente
print(arreglo_2d)

[[0. 1. 0.]
 [0. 2. 0.]
 [0. 3. 0.]]

**Ejercicio 5:** crear un arreglo 2D de 3 filas y 3 columnas, lleno de ceros. Reemplazar los elemento de la diagonal por unos. Es decir, crear la siguiente matriz:

```
1 0 0
0 1 0
0 0 1
```

In [32]:
arreglo_2d = np.zeros((3,3)) # Creación de un arreglo de 2D de 3 filas y 3 columnas
arreglo_2d = np.eye(3)       # Reemplazamiento de los elementos de la diagonal por unos
print(arreglo_2d)

[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]

**Ejercicio 6:** crear un arreglo 2D de 100 filas y 100 columnas, lleno de ceros. Reemplazar los elemento de la diagonal por unos. Es decir, crear la siguiente matriz:

```
1 0 0 ... 0 0 0
0 1 0 ... 0 0 0
0 0 1 ... 0 0 0
...  
0 0 0 ... 1 0 0
0 0 0 ... 0 1 0
0 0 0 ... 0 0 1
```

In [29]:
arreglo_2d = np.zeros((100,100)) # Creación de un arreglo de 2D de 100 filas y 100 columnas
arreglo_2d = np.eye(100)         # Reemplazamiento de los elementos de la diagonal por unos
print(arreglo_2d)

[[1. 0. 0. ... 0. 0. 0.]
 [0. 1. 0. ... 0. 0. 0.]
 [0. 0. 1. ... 0. 0. 0.]
 ...
 [0. 0. 0. ... 1. 0. 0.]
 [0. 0. 0. ... 0. 1. 0.]
 [0. 0. 0. ... 0. 0. 1.]]

**Extra:** ¿Qué tipo de dato está usando NumPy cuando crea los arreglos?¿Y si queremos cambiarle el tipo de dato, por ejemplo a `int`? Googlear "numpy astype". ¿Qué pasa si usamos `astype(bool)`?

Con respecto a la primera pregunta, se podría llegar a la conclusión de que a la hora de llevar a cabo arreglos en Numpy se están incluyendo datos numéricos enteros mientras que a la hora de imprimir la solución final del arreglo se nos presentan los resultados numéricos como flotantes.
Esto se debe a que en matrices de 2D o 3D los datos no pueden ser sustituidos por ejemplo de "flotantes" a "enteros" en medidas de Python escalares.

En el caso, de querer convertir un dato "flotante" a "entero" este no se podría llegar a realizar debido al NO reconocimiento de escalas de Python ya mencionado en la pregunta anterior.

La expresión "numpy astype" se referirá al método "astype" de los arreglos en Numpy, que se utilizará para convertir un arreglo a otro tipo de dato.
Este método permitirá cambiar el tipo de los elementos de un arreglo, creando un nuevo arreglo con el tipo de dato especificado, sin la necesidad de modificar el arreglo original.

Por último, la expresión astype(bool) llegará a ser utilizada para converitr los elementos de un arreglo especificado a valores booleanos "True" or "False" cumpliendo en todo momento con las siguientes reglas:
* Cualquier valor diferente de cero o vacío llegará a convertirse en "True".
* El valor 0 o vacío se convertirá en "False".